@import "_mixins/font-face";

@include font-face("roboto-example", "../fonts/RobotoRegular/RobotoRegular");
@include font-face("roboto-example", "../fonts/RobotoBold/RobotoBold", bold);

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/RobotoLight/Roboto-Light.eot');
    src: url('../fonts/RobotoLight/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoLight/Roboto-Light.woff') format('woff'),
    url('../fonts/RobotoLight/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    // font-family: 'Roboto Light';

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/RobotoMedium/Roboto-Medium.eot');
    src: url('../fonts/RobotoMedium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoMedium/Roboto-Medium.woff') format('woff'),
    url('../fonts/RobotoMedium/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    // font-family: 'Roboto Medium';


@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/RobotoBold/Roboto-Bold.eot');
    src: url('../fonts/RobotoBold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RobotoBold/Roboto-Bold.woff') format('woff'),
    url('../fonts/RobotoBold/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
