/*==========  Desktop First  ==========*/

// ≥1200px
@media (max-width: 1200px) {

    .main-thumbnail__title {
        margin-bottom: 24px;
    }

}

// ≥1170px
@media (max-width: 1170px) {

    .header {
        padding: 0 15px;
    }

    .nav-menu__list {
        gap: 20px;
    }

    .nav-menu__item {
        letter-spacing: 0.05em;
    }

    .main-thumbnail__description {
        padding: 40px 30px 20px;
    }

    .main-thumbnail__title {
        margin-bottom: 44px;
    }
}

// ≥1100px
@media (max-width: 1100px) {

    .main-content {
        padding-right: 15px;
    }

    .main-sidebar {
        padding-left: 15px;
    }

    .main-thumbnail__description {
        padding: 20px;
    }

    .main-thumbnail__title {
        margin-bottom: 24px;
    }
}

// ≥992px
@media (max-width: 992px) {

    .container {
        max-width: 960px;
        padding: 0 20px;
    }

    .header {
        padding: 0 30px;
    }

    .header-nav__logo {
        max-width: 240px;
    }

    .header-nav__buttons {
        justify-content: end;
        max-width: 160px;

        .header-nav__btn {

            &:nth-child(1) {
                display: none;
            }

        }
    }

    .thumbnail-title {
        font-size: 22px;
    }

    main {
        .thumbnail-title {
            font-size: 18px;
            line-height: 1.3;
        }
    }

    .tags-menu__title {
        letter-spacing: .04em;
        margin-right: 15px;
    }

    .tags-menu__contacts {
        margin-left: 15px;
        justify-content: space-around
    }

    .posts-block__title {
        font-size: 22px;
        padding-left: 60px;
    }

    .registration__card {
        padding: 38px 20px;
    }

}

// ≥900px
@media (max-width: 900px) {

    .menu__icon {
        display: block;
    }

    .header-nav__menu {
        display: none;
    }

    .header-nav__logo {
        left: 12px;
    }

    .thumbnail-title {
        font-size: 18px;
    }

    .main-thumbnail__description {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-thumbnail__title {
        margin-bottom: 14px;
    }

    main {
        .thumbnail-title {
            font-size: 24px;
        }
    }

    .tags-menu__title,
    .tags-menu,
    .tags-menu__contacts-item {
        font-size: 12px;
    }

    .main-wrapper {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .main-content {
        border-right: none;
        padding-right: 0;
        width: 100%;

        .main-sidebar__search {
            display: block;
            margin-bottom: 41px;

            input {
                max-width: 100%;
            }
        }
    }

    .main-content__btn-wrapper {
        margin-bottom: 20px;
    }

    .main-sidebar {
        .main-sidebar__search {
            display: none;
        }
    }

    .main-sidebar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-left: none;
        padding-right: 15px;
    }

    .advertising-block {
        width: 40%;
    }

    .tag-cloud {
        padding-left: 0;
        margin-top: 25px;
    }

    .registration__wrapper {
        padding: 50px 10px 50px;
    }

    .registration__card {
        padding: 48px 20px;
    }

    .registration-pay>ul>li>a>img {
        width: 70%;
    }

    .registration-pay__title {
        max-width: 150px;
        width: 100%;
    }


    .footer__logo {
        margin-bottom: 40px;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__menu-wrapper {
        justify-content: space-around;
    }

}


// ≥768px
@media (max-width: 768px) {

    body {
        transform: translateY(20px);
    }

    .container {
        max-width: 720px;
        padding: 0 20px;
    }

    .popup__close-btn {
        top: 10px;
        right: 10px;
    }

    .protected-popup__wrapper {
        flex-wrap: wrap;
        max-width: 320px;
        margin-left: -13px;
        gap: 5px;
    }

    .protected-popup__title {
        order: 1;
    }

    .protected-popup__info {
        order: 3;
        margin-right: 4px;
    }

    .protected-popup__more {
        order: 2;
        margin-right: 14px;
    }

    .protected-popup {
        height: 68px;
        transform: translateY(-120px);
    }

    .header {
        height: 70px;
        margin-bottom: 31px;
        padding: 0 12px;
    }

    .main-thumbnail {
        width: 100%;
        max-height: initial;
        flex-direction: column;

        &__description {
            padding: 30px 30px 15px;
        }
    }

    .thumbnail-title {
        font-size: 24px;
    }

    .main-thumbnail__image {
        img {
            width: 100%;

            &:hover {
                transform: scale(1);
            }
        }
    }

    .header-nav__logo {
        min-width: 168px;
    }

    .tags-menu {
        display: none;
    }

    .main-content__thumbnail {
        flex-direction: column;
        gap: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
        padding-bottom: 24px;
        margin-bottom: 20px;

        &-link {
            max-width: 100%;
        }

        .thumbnail-image {
            max-width: 100%;

            img {
                width: 100%;
            }
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            display: none;
        }

        &-list {
            margin-bottom: 60px;
        }
    }

    .thumbnail-author {
        margin-right: 10px;
    }

    main .thumbnail-tags {
        margin-top: 17px;
        line-height: 16px;
    }

    .thumbnail-comments::before {
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        padding-top: 10px;
    }

    .main-content__title {
        margin-bottom: 38px;
        padding: 0 10px;
    }

    .main-content__btn {
        max-width: 315px;
        width: 100%;
    }

    main .thumbnail-title {
        line-height: 1.4;
        margin-bottom: 16px;
    }

    .thumbnail-description__wrapper {
        margin-bottom: 6px;
    }

    .main-sidebar {
        padding: 0 10px;
        border-left: none;
        gap: 20px;
    }

    .main-sidebar__posts-block {
        margin-top: 60px;
        padding-bottom: 15px;
    }

    .posts-block__announcements,
    .posts-block__popular {
        flex: 1;
    }

    .posts-block__announcements::before {
        left: -5px;
    }

    .posts-block__title {
        font-size: 24px;
        padding-left: 74px;
    }

    .posts-block__popular::before {
        left: -5px;
    }

    .advertising-block {
        margin-top: 28px;
        margin-bottom: 60px;
        width: 48%;
    }

    .tag-cloud {
        padding-left: 0;
    }

    .tag-cloud__block {
        width: 48%;
    }

    .tag-cloud__block img {
        min-width: 100%;
        max-width: inherit;
        width: 48%;
    }

    .registration__card {
        padding: 38px 20px;
    }

    .registration__card--small {
        height: 300px;
    }

    .registration__card--large {
        height: 340px;
    }

    .price {
        font-size: 27px;
    }

    .currency {
        position: absolute;
        left: 5px;
        top: 8px;
        font-size: 18px;
    }

    .term {
        font-size: 18px;
    }

    .registration__price::after {
        width: 100%;
    }

    .registration__feautures {
        margin: 16px 0;
    }

    
    .active-body {
        transform: translateY(80px);
        transition: all .5s ease;
    }

    .active-flex {
        transform: translateY(-80px);
        transition: all .5s ease;
    }

}



// ≥576px
@media (max-width: 576px) {

    .container {
        max-width: 540px;
        padding: 0 20px;
    }

    .header-nav__btn--started {
        max-width: 126px;
        padding: 12px 0 6px;
    }

    .main-wrapper {
        margin-bottom: 77px;
    }

    .main-sidebar {
        flex-direction: column;
        gap: 0;
    }

    .advertising-block {
        width: 100%;
        margin-bottom: 36px;
    }

    .tag-cloud__block {
        width: 100%;
    }

    .tag-cloud__block img {
        width: 100%;
    }

    /*==========  Registration  ==========*/

    .registration-title {
        font-size: 32px;
        max-width: 287px;
        width: 100%;
        line-height: 44px;
        margin: 0 auto;
        margin-top: 11px;
        margin-bottom: 39px;
    }

    .registration-cards {
        flex-direction: column;
        margin-bottom: 36px;
    }

    .registration__card {
        height: 340px;
        min-width: 315px;
        width: 100%;
        padding: 51px 53px 40px;
    }

    .registration__term {
        padding-bottom: 5px;
    }

    .currency {
        font-size: 24px;
        left: -3px;
        top: 19px;
    }

    .price {
        font-size: 56px;
        padding-left: 16px;
    }

    .term {
        font-size: 24px;
    }

    .registration__wrapper {
        padding: 50px 10px 35px;
    }

    .registration__feautures {
        margin: 27px 0;
    }

    .registration__card--large {
        padding: 37px 55px 39px;

        .currency {
            left: -1px;
            top: 20px;
        }

        .price {
            padding-left: 20px;
        }

        .old-price {
            margin-right: 3px;
        }

        .registration__btn {
            min-width: 206px;
        }
    }

    .registration-pay {
        flex-direction: column;
    }

    .registration-pay__title {
        text-align: center;
        margin-bottom: 18px;
    }

    .registration-pay__list {
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-around;
    }

    .registration-pay>ul>li>a>img {
        width: 100%;
    }

    .registration__links {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        padding: 72px 0 40px;
    }

    .footer__menu-wrapper {
        min-width: 315px;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: start;
        gap: 34px;
    }

    .footer__menu-inner, 
    .footer__menu {
        flex: 1;
    }

    .footer__menu-inner {
        justify-content: start;

        .footer__menu {
            margin-bottom: 32px;
        }
    }

    .footer__content {
        gap: 39px;
    }

    .footer__content--right {
        min-width: 315px;
        width: 100%;
    }

    .footer-about__title {
        margin-bottom: 15px;
    }

    .footer-about__text {
        line-height: 22px;
        margin-bottom: 20px;
    }
}

// ≥375px
@media (max-width: 375px) {
    /*==========  Footer  ==========*/

    .footer {
        padding: 47px 0 6px;
    }

    .footer__logo {
        margin-bottom: 47px;
    }

    .footer__menu-wrapper {
        max-width: 315px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: start;
        gap: 34px;
    }

    .footer__menu-inner, 
    .footer__menu {
        flex: none;
    }

    .footer__menu-inner {
        justify-content: start;

        .footer__menu {
            margin-bottom: 32px;
        }
    }

    .footer__content {
        gap: 39px;
    }

    .footer__content--left {
        position: relative;
    }

    .footer__content--right {
        max-width: 315px;
        width: 100%;
    }

    .footer-about__title {
        margin-bottom: 15px;
    }

    .footer-about__text {
        line-height: 22px;
        margin-bottom: 20px;
    }

    .footer__social-content {
        position: absolute;
        bottom: 435px;
        right: 20px;
    }

    .footer__social-list {
        flex-wrap: wrap;
        gap: 27px;
        max-width: 154px;
        width: 100%;
        justify-content: space-around;
    }
}