@import "vars";
@import "fonts";
@import "libs";


/* ======================= Settings ======================= */

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	top: 0;
	line-height: 1.65;
	font-family: 'Roboto Regular', sans-serif;
	color: $text;
	transition: all .5s ease;
	transform: translateY(0px);


	input,
	textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: red;
		}

		&:required:valid {
			border-color: green;
		}
	}
}

.container {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;

	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b,
strong {
	font-weight: bold;
}

button {
	background-color: transparent;
	border: none;
}

.btn {
	display: block;
	background: transparent;
	border: 1px solid $accent;
	color: $accent;
	padding: 12px 80px 7px;
	line-height: unset;
	transition: padding-top .3s ease;

	&:hover {
		padding-top: 9px;
	}
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: #323642;
	text-decoration: none;

	&:hover {
		color: inherit;
	}
}

.title {
	font-family: 'Roboto Light', sans-serif;
}



/* ======================= Protected-Popup ======================= */

.protected-popup {
	position: absolute;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 40px;
	overflow: hidden;
	background-color: #22252E;
	display: flex;
	justify-content: center;
	align-items: center;
	// display: none;
	transform: translateY(-40px);
	transition: all .5s ease;
}

.protected-popup__wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 609px;
	width: 100%;
}

.protected-popup__title {
	color: #ff8d00;
	font-size: 12px;
	font-family: 'Roboto Regular';
	font-weight: bold;
	padding-left: 27px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 22px;
		height: 19px;
		background-image: url('../img/icons/warning.svg');
	}
}

.protected-popup__info {
	color: #889099;
	font-size: 12px;
	font-family: $default-font;
}

.protected-popup__more {
	color: #fff;
	font-size: 12px;
	font-family: $default-font;
	text-decoration: none;
	display: block;
	&:hover {
		color: #eee;
	}
}

.popup__close-btn {
	position: absolute;
	right: 16px;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ======================= Header ======================= */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 120px;
	padding: 0 60px;
	position: relative;
}

.menu__icon {
	display: none;
	position: relative;
	z-index: 99;
	width: 24px;
	height: 16px;
	cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
	left: 0;
	position: absolute;
	height: 10%;
	width: 100%;
	border-radius: 1px;
	transition: all .3s ease 0s;
	background-color: #000;
}

.menu__icon::before,
.menu__icon::after {
	content: '';
}

.menu__icon::before {
	top: 0;	
}

.menu__icon::after {
	bottom: 0;	
}

.menu__icon span {
	top: 50%;
	transform: scale(1) translate(0px, -50%);
}

.menu__body {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	transition: left .3s ease 0s;
	display: none;
	overflow: auto;
	&::before {
		content: '';
		position: fixed;
		width: 100%;
		left: 0;
		top: 68px;
		height: 70px;
		background-color: rgba(255, 255, 255, .7);
	}
}

.active-menu__body {
	display: block;
}

.menu__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 170px 0;
	gap: 20px;
}

.menu__list > li {
	position: relative;
	padding: 10px 0;
}

.menu__list > li > a {
	padding: 10px 0;
	font-family: 'Roboto Regular', sans-serif;
	text-transform: uppercase;
	&:hover {
		color: rgba($color: #fff, $alpha: .7);
	}
}
.menu__link {
	color: #fff;
	font-size: 18px;
	letter-spacing: 0.07rem;
}

.active-menu {
    display: block;
}

.header-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
}

.header-nav__logo {
	max-width: 260px;
	width: 100%;
	position: relative;
	z-index: 6;
}

.nav-logo__link {
	display: block;
	width: 100%;
}

.nav-logo__img {
	width: 100%;
}

.header-nav__menu {
	display: flex;
	justify-content: center;
	width: 60%;
}

.nav-menu__list {
	display: flex;
	justify-content: space-between;
	gap: 27px;
	margin: 0 16px;
}

.nav-menu__item {
	font-family: 'Roboto Medium';
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	color: #323642;
	position: relative;

	&:hover {
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 3px;
			background-color: $accent;
		}
	}

	&--dropdown {
		padding-right: 20px;
		position: relative;

		&::after {
			content: '';
			background-image: url('../img/icons/arrow-down.svg');
			position: absolute;
			width: 10px;
			height: 5px;
			right: 0;
			top: 11px;
		}
	}
}

.nav-menu__link {
	display: block;
	line-height: 36px;
}

/* ======================= Header Buttons ======================= */

.header-nav__buttons {
	display: flex;
	justify-content: space-between;
	max-width: 260px;
	width: 100%;
	position: relative;
	z-index: 6;
}

.header-nav__btn,
.btn {
	display: inline-block;
	font-family: 'Roboto Medium';
	font-size: 14px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	height: 40px;
	border-radius: 20px;
}

.header-nav__btn--login {
	background: transparent;
	border: 1px solid $accent;
	color: $accent;
	padding: 12px 19px 7px;
	max-width: 90px;
	width: 100%;
	transition: padding-top .3s ease;

	&:hover {
		color: $accent;
		padding-top: 9px;
	}
}

.btn--green,
.header-nav__btn--started {
	background: linear-gradient($accent 0%, #5ddf5a 100%);
	padding: 12px 30px 7px;
	color: #fff;
	max-width: 160px;
	width: 100%;
	transition: padding-top .3s ease;

	&:hover {
		padding-top: 9px;
		color: #fff;
	}
}


/* ======================= Main thumbnail ======================= */


.main-thumbnail {
	display: flex;
	width: 100%;
	max-height: 400px;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #d7d8d9;
	margin-bottom: 30px;
}

.main-thumbnail__image {
	flex: 1 50%;
	overflow: hidden;

	img {
		transition: all 1s ease;

		&:hover {
			transform: scale(1.2, 1.2);
		}
	}
}

.main-thumbnail__description {
	flex: 1 50%;
	padding: 60px 60px 41px;
}

.thumbnail-title {
	font-size: 24px;
	line-height: 34px;
	color: #22252e;
}

.main-thumbnail__title {
	margin-bottom: 84px;
}

.thumbnail-description__wrapper {
	display: flex;
	max-width: 260px;
	width: 100%;
	font-size: 14px;
	margin-bottom: 5px;
}

.thumbnail-author {
	line-height: 22px;
	color: #323642;
	margin-right: 14px;
}

.thumbnail-date {
	line-height: 22px;
	color: #889099;
	padding-left: 10px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 1px;
		height: 12px;
		left: 0;
		top: 50%;
		background-color: #889099;
		transform: translateY(-50%);
	}
}

.thumbnail-tags {
	margin-bottom: 4px;

	&__link {
		font-size: 12px;
		letter-spacing: 0.035em;
		line-height: 16px;
		text-transform: uppercase;
		color: $accent;
	}

	&:hover {
		color: $accent;
	}
}

.thumbnail-comments {
	position: relative;
	line-height: 22px;
	color: #889099;
	padding-left: 28px;

	&::before {
		content: '';
		position: absolute;
		background-image: url('../img/icons/icon-comment.svg');
		left: 3px;
		top: 3px;
		width: 16px;
		height: 16px;
	}
}

/* ======================= Tags Menu ======================= */

.tags-menu {
	display: flex;
	width: 100%;
	height: 60px;
	border-radius: 4px;
	padding: 24px 32px 17px 32px;
	margin-bottom: 40px;
	background-color: #f7f7f7;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.tags-menu__title {
	letter-spacing: 0.07em;
	color: #323642;
	margin-right: 25px;
}

.tags-menu__list {
	letter-spacing: 0.04em;
	display: flex;
	max-width: 667px;
	width: 100%;
	justify-content: space-between;
}

.tags-menu__link {
	color: $accent;

	&:hover {
		color: $accent;
	}
}

.tags-menu__contacts {
	display: flex;
	margin-left: auto;
}

.tags-menu__contacts-item {
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	letter-spacing: 0.07em;
	line-height: 18px;
	color: #323642;

	&:not(:last-child) {
		margin-right: 37px;
	}
}


/* ======================= Main ======================= */

.main-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 73px;
}

.main-content {
	flex-basis: 70%;
	border-right: .5px solid #ebeced;
	padding-right: 59px;
	.main-sidebar__search {
		display: none;
	}
}

.main-content__title {
	font-size: 32px;
	line-height: 44px;
	color: #22252e;
	margin-bottom: 10px;
}

.main-content__thumbnail {
	max-width: 740px;
	width: 100%;
	display: flex;
	gap: 40px;
	padding-top: 30px;
	padding-bottom: 31px;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #ebeced;
		left: 0;
		bottom: 0;
	}
}

.main-content__thumbnail {
	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(9) {
		display: none;
	}
}

.main-content__thumbnail-link {
	display: block;
	min-width: 280px;
}

.thumbnail-image {
	max-width: 280px;
	width: 100%;
}

.thumbnail-description__title {
	margin-bottom: 7px;
}

.main-content__btn-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 39px;
}

.main-content__btn {
	display: block;
	background: transparent;
	border: 1px solid $accent;
	color: $accent;
	padding: 14px 80px 7px;
	line-height: 1;
	transition: padding-top .3s ease;

	&:hover {
		color: $accent;
		padding-top: 7px;
	}
}


/* ======================= Sidebar ======================= */


.main-sidebar {
	flex-basis: 30%;
	border-left: .5px solid #ebeced;
	padding-left: 59px;
}

/* ======================= Sidebar Search ======================= */

.main-sidebar__search {
	position: relative;
	width: 100%;
}

.sidebar-search__input {
	max-width: 340px;
	width: 100%;
	height: 59px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #d7d8d9;
	padding-left: 56px;
	font-family: 'Roboto Light', sans-serif;
	font-size: 18px;
	line-height: 28px;
	color: #22252e;
}

.sidebar-search__button {
	position: absolute;
	left: 0;
	width: 56px;
	height: 59px;
	background-color: transparent;
	border: none;
	background-image: url('../img/icons/search.svg');
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: initial;
}

/* ======================= Sidebar Posts ======================= */

.main-sidebar__posts-block {
	position: relative;
	max-width: 340px;
	width: 100%;
	padding: 12px 0;
	border-bottom: 1px solid #ebeced;
	margin-top: 32px;
}

.posts-block__announcements {
	&::before {
		position: absolute;
		content: '';
		background-image: url('../img/icons/icon-announcements.svg');
		width: 60px;
		height: 60px;
		left: 0;
		top: 0;
	}
}

.posts-block__title {
	position: relative;
	font-size: 24px;
	line-height: 34px;
	color: #22252e;
	padding-left: 80px;
	margin-bottom: 34px;
}

.posts-block__item {
	position: relative;
	padding-left: 11px;
	line-height: 20px;
	margin-bottom: 16px;

	&::before {
		position: absolute;
		content: '•';
		font-family: 'Roboto Regular', sans-serif;
		font-size: 14px;
		color: $accent;
		left: 0;
		top: 3px;
	}
}

.posts-block__link {
	font-family: 'Roboto Regular', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #323642;
}

.posts-block__popular {
	&::before {
		position: absolute;
		content: '';
		background-image: url('../img/icons/icon-popular.svg');
		width: 60px;
		height: 60px;
		left: 0;
		top: 0;
	}
}

.advertising-block {
	display: block;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 52px;
}

.advertising-block__image {
	width: 100%;
}

.tag-cloud {
	padding-left: 0;
	margin-bottom: 14px;
}

.tag-cloud__block-image {
	margin-left: -13px;
}


/* ======================= Section Registration ======================= */


.registration {
	width: 100%;
	background: linear-gradient(#3d4251 0%, #272b35 100%);
}

.registration__wrapper {
	padding: 101px 10px 50px;
}

.registration-title {
	font-size: 48px;
	letter-spacing: -0.01em;
	line-height: 64px;
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}

.registration-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	max-width: 1180px;
	width: 100%;
	margin-bottom: 54px;
}

.registration__card {
	display: flex;
	flex-flow: column;
	align-items: center;
	background-color: #fff;
	padding: 48px 87px 40px 88px;
}

.registration__card--small {
	width: 380px;
	height: 340px;
	border-radius: 6px;
	border: 1px solid #ebeced;
}

.registration__term {
	position: relative;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
	color: #323642;
	padding-bottom: 7px;
	margin-bottom: 10px;

	&:after {
		content: '';
		position: absolute;
		width: 24px;
		height: 2px;
		background-color: $accent;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

.registration__price {
	position: relative;
	max-width: 176px;
	width: 100%;

	&::after {
		content: '';
		position: absolute;
		width: 200px;
		height: 1px;
		background-color: #ebeced;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
	}
}

.currency,
.term {
	font-family: 'Roboto Light', sans-serif;
	font-size: 24px;
	line-height: 32px;
	color: #22252e;
}

.currency {
	position: absolute;
	left: 0;
	top: 20px;
}

.price {
	font-family: 'Roboto Light', sans-serif;
	font-size: 56px;
	letter-spacing: -0.03em;
	color: #22252e;
	padding-left: 20px;
	padding-right: 2px;
}

.term {
	font-family: 'Roboto Light', sans-serif;
	font-size: 24px;
	line-height: 32px;
	color: #22252e;
}

.registration__feautures {
	font-family: 'Roboto Regular', sans-serif;
	font-size: 14px;
	text-align: center;
	color: #323642;
	margin: 27px 0;
}

.registration__btn {
	max-width: 205px;
	width: 100%;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	letter-spacing: 0.06em;
	text-align: center;
	padding: 14px 0 7px 0;

	&:hover {
		color: $accent;
	}
}

.registration__card--large {
	width: 380px;
	height: 380px;
	border-radius: 4px;
	background: #fff;
	border: 4px solid #4cb649;
	padding-top: 56px;

	.registration__term {
		padding-bottom: 8px;
		margin-bottom: 8px;
	}

	.registration__feautures {
		margin-top: 16px;
		margin-bottom: 24px;

		.benefit {
			margin-top: 3px;
		}
	}

	.registration__btn {
		&:hover {
			color: #fff;
		}
	}
}

.registration__card {
	&:nth-child(3) {
		.registration__feautures {
			margin: 17px 0;
		}
	}
}

.old-price {
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #f24458;
	text-decoration: line-through;
	display: inline-block;
	margin-right: 8px;
}

.new-price,
.benefit {
	font-size: 14px;
	line-height: 22px;
	color: #323642;
}

.benefit {
	font-family: $default-font;
	font-weight: bold;
	display: block;
}

.registration-pay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 910px;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	margin-bottom: 34px;
}

.registration-pay__title {
	font-family: 'Roboto Light', sans-serif;
	font-size: 18px;
	color: #fff;
}

.registration-pay__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 775px;
	width: 100%;
}

.registration__links {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.registration__link {
	position: relative;
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: $accent;
	padding-right: 37px;

	&:hover {
		color: $accent;
	}

	&::after {
		content: '';
		position: absolute;
		background-image: url('../img/icons/arrow-right.svg');
		width: 24px;
		height: 24px;
		right: 0;
		top: -4px;
	}
}


/* ======================= Footer ======================= */

.footer {
	padding: 72px 0 90px;
}

.footer__logo {
	max-width: 239px;
	width: 100%;
	margin-bottom: 77px;
}

.footer__logo-link,
.footer__logo-img {
	display: block;
	width: 100%;
}

.footer__content {
	display: flex;
	gap: 70px;
}

.footer__content--left {
	flex: 1;
}

.footer__menu-wrapper {
	display: flex;
	justify-content: space-between;
}

.footer__menu-title,
.footer-about__title,
.footer__social-title {
	font-family: 'Roboto Medium', sans-serif;
	font-size: 14px;
	letter-spacing: 0.07em;
	line-height: 18px;
	text-transform: uppercase;
	color: #323642;
	margin-bottom: 12px;
}

.footer-about__title {
	margin-bottom: 19px;
}

.footer__menu-link,
.footer-about__text {
	font-family: 'Roboto Regular', sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #889099;
	margin-bottom: 43px;
}

.footer__menu-link {
	line-height: 2.25;
}

.footer__menu-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__content--right {
	flex: 1 70px;
	width: 100%;
}

.footer-about__text {
	margin-bottom: 43px;
}

.footer__content-rights {
	font-family: 'Roboto Regular', sans-serif;
	font-size: 12px;
	line-height: 16px;
	;
	color: #889099;
	margin-bottom: 43px;
}

.footer__social-title {
	margin-bottom: 19px;
}

.footer__social-list {
	max-width: 332px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.active-body {
	transform: translateY(40px);
	transition: all .5s ease;
	// top: 40px;
}

.active-flex {
	display: flex;	
	position: absolute;
	left: 0;
	transform: translateY(-40px);
	transition: all .5s ease;
}

.active {
	display: block;
}

@import "media"; 